body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 8pt;
}

p {
  margin: 0 0 10px 0;
}

hr {
  border: none;
  height: 1px;
  background: #666;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.header, .footer {
  background: #727272;
  padding: 4px;
}
.header {
  border-bottom: 1px solid #111;
}
.footer {
  border-top: 1px solid #111;
  height: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #505050;
  border-top: 1px solid #505050;
  background-color: #393939;
}

.main-content, .sidebar {
  padding: 10px;
}

.sidebar {
  height: 100%;
  overflow-y: auto;
  background: #727272;
  font-size: 8pt;
  border-left: 1px solid #444;
}
.sidebar > div {
  cursor: pointer;
}
.sidebarContent {
}

button {
  border: 0;
  border-radius: 3px;
  padding: 3px;
  background-color: #3C3C3C;
  color: #aaa;
}

.sidebar input[type='text'], .sidebar select {
  background-color: #bbb;
  border-radius: 2px;
  padding: 0 4px;
  border: 0;
  font-size:7pt;
  float: right;
  width: 80px
}

@media screen and (min-width: 600px) {
  .main {
    flex-direction: row-reverse;
    height: 400px;
  }

  #screen {
    flex: 1;
  }

  #game {
    position: relative;
    overflow: hidden;
    height: 400px;
    outline: none;
  }

  .sidebar {
    width: 180px;

  }
}

.entityComponent {
  padding-bottom:5px;
}
.entityComponent > div > div {
  clear: both;
}
